
# ignore node modules directory
node_modules/

# ignore logs directory
logs/

# ignore external libs & avatar files
public/avatar
public/ext

# ignore my config
config/local.json

# ignore temporary files
tmp/