
<div class="container">

	<p class="center">Dear, {{ username }} </p>
	<p>We received a request to change the registration email of your account.</p>
	<p>If you are not the originator of this request, please discard this email.</p>
	<p>To complete the alteration, please access the link below:</p>
	<p>{{ link }}</p>
	<p>If the link does not work, copy/paste the entire link into your web browser.</p>
	<p>Thank you.</p>
	<p>{{ sitename }}</p>  

	<br>
	<p class="center small">To respond to {{ sitename }}, you may reply directly to this email address.</p>

</div>