
<div class="container">

	<p class="center">Dear, {{ username }} </p>
	<p>To complete the registration process, please activate your account by clicking the link below:</p>
	<p>{{ link }}</p>
	<p>If the link does not work, copy/paste the entire link into your web browser.</p>
	<p>Thank you.</p>
	<p>{{ sitename }}</p>  

	<br>
	<p class="center small">To respond to {{ sitename }}, you may reply directly to this email address.</p>

</div>
